/vendor
/node_modules
/public/build
/public/files
/public/hot
/public/images/Certificate/*.pdf
!/public/images/Certificate/Belajar Git.pdf
!/public/images/Certificate/Fundamental Android.pdf
!/public/images/Certificate/Peengembangan Aplikasi Android Intermediate.pdf
!/public/images/Certificate/Pemrograman Kotlin.pdf
!/public/images/Certificate/Pemrograman SOLID.pdf
/.env
/.phpunit.cache
/bootstrap/cache/*.php
/database/*.sqlite
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitignore
